:root {
   --primary-blue: #2971fc;
   --primary-green: #00bf63; 
 }

* {
   font-family: Arial, Helvetica, sans-serif;
}

.button-blue {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   font-size: 16px;
   color: #fff;
   background: #337ab7;
   background-color:var(--primary-blue);
   border: rgb(195, 216, 255) 1px;
   color: white;
   padding: 10px 32px;
   border-radius: 50px;
   cursor: pointer;
   outline: none;
   transition: 0.2s all;
}

.button-green {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   font-size: 16px;
   color: #fff;
   background-color:var(--primary-green);
   border: rgb(195, 216, 255) 1px;
   color: white;
   padding: 10px 32px;
   border-radius: 50px;
   cursor: pointer;
   outline: none;
   transition: 0.2s all;
}

/* Top Progressbar */

.Loading {
   position: relative;
   width: 100%;
   height: 10px;
   background: #42b1fb;
   box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
   border-radius: 0px;
   overflow: hidden;
   height:3px;

   display: none;
 }
 
 .Loading:after {
   content: '';
   position: absolute;
   left: 0;
   width: 0;
   height: 100%;
   border-radius: 4px;
   box-shadow: 0 0 5px rgba(0, 0, 0, .2);
   animation: load 1s infinite;
 }
 
 @keyframes load {
   0% {
     width: 0;
     background: #66abf9;
   }
   
   25% {
     width: 40%;
     background: #2afc54;
   }
   
   50% {
     width: 60%;
     background: #147ffa;
   }
   
   75% {
     width: 75%;
     background: #630cfa;
   }
   
   100% {
     width: 100%;
     background: #005eff;
   }
 }
 
 @keyframes pulse {
   0% {
     background: #a28089;
   }
   
   25% {
     background: #a0d2eb;
   }
   
   50% {
     background: #ffa8b6;
   }
   
   75% {
     background: #d0bdf4;
   }
   
   100% {
     background: #494d5f;
   }
 }

.header2 {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.4em 0.95rem 0.4em 1.5rem;
   border-bottom: 1.5px solid var(--borderElement);
   height: 72px;
   background-color: #ffffff;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
   
}


.row {
    height: 100%;
}

.left-side {
    /* 
    DE_1
    Description : color for red

    background-color: rgb(255, 0, 0); */
    height: 50%;
}

.right-side {
   /* 
   DE_2
   Description : color for blue

   background-color: dodgerblue;  */
   height: 400px;
}

.left-side-img {
   /* 
   DE_3
   Description : color for

   background-color: blanchedalmond; */
   margin-top: -90px;
}

@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,900|Muli:300,400,500,600,700,800,900&display=swap");


/* 
  Primary color : #0174BE
*/

body {
   /* font-family: "Muli", sans-serif;
   font-weight: normal;
   font-style: normal */

   font-family: 'Open Sans';
   /* background-color: rgb(237, 243, 255); */
}

.error-field {
   color: #ff3500;
   font-size: 12px;
   margin-top: -15px;
   display: none;
}

.error-email {
   color: #ff3500;
   font-size: 12px;
   margin-top: -15px;
   display: none;
}

.error-password {
   color: #ff3500;
   font-size: 12px;
   margin-top: -15px;
   display: none;
}

.hidden {
   display: none;
}

#progressCircle {
   width: 30px;
   height: 30px;
   border: 4px solid #ffffff;
   border-top: 4px solid #3498db;
   border-radius: 50%;
   animation: spin 0.5s linear infinite;
   transform: translate(-50%, -50%);
}

@keyframes spin {
   0% {
       transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
       transform: translate(-50%, -50%) rotate(360deg);
   }
}

.medium {
   font-weight: 500;
}

.header-area {
   background-color: white;
}

a,
.button {
   -webkit-transition: all .3s ease-out 0s;
   -moz-transition: all .3s ease-out 0s;
   -ms-transition: all .3s ease-out 0s;
   -o-transition: all .3s ease-out 0s;
   transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
   text-decoration: none;
   outline: none
}

a {
   color: #635c5c
}

a:hover {
   color: #fff
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
   text-decoration: none
}

a,
button {
   color: #fff;
   outline: medium none
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
   color: inherit
}

.username {
   z-index: 0;
}

.login {
   color: var(--theme-color-labelPrimary);
   text-align: center;
   z-index: 1;
   -webkit-margin-before: 0;
   margin-block-start: 0;
   font-family: Ubuntu;
   font-size: 30px;
   font-weight: 700;
   font-style: normal;
   line-height: 33px;
   font-variant: normal;
   letter-spacing: 0.8px;
   margin-bottom: 40px;
   margin-top: 10px;
}

.btn-submit {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-forgot {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;

   font-size: 16px;
   width: 100%;
   color: #000000;
   background: #ffffff;
   background-color: #ffffff;
   border: rgb(0, 89, 255) 1px;
   padding: 10px 32px;
   border-radius: 50px;
   margin-top: 0px;
   margin-bottom: 10px;
   cursor: pointer;
   outline: none;
   transition: 0.2s all;
}

.message {
   border-radius: 5px; 
   background-color: #ff0032; 
   color: white;
   padding: 6px;
   text-align: end;
   display: block;
   margin-bottom: -15px;
   display: none;
}


#frm {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 60%;
   background: white;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 50px;
   padding-bottom: 50px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}

.edit {
   border-radius: 5px;
   border: 1px solid #ccc;
   outline: none;
   width: 100%;
   height:40px;
   padding-left: 15px;
}


#btn {
   width: 100%;
   color: #fff;
   background: #337ab7;
   background-color: #0085d5;
   border: rgb(195, 216, 255) 1px;
   color: white;
   padding: 10px 32px;
   display: block;
   margin: auto;
   border-radius: 10px;
   margin-top: 25px;
   margin-bottom: 10px;
   box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
   cursor: pointer;
   outline: none;
   transition: 0.2s all;
}

#btn:active {
   transform: scale(0.98);
   /* Scaling button to 0.98 to its original size */
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
   /* Lowering the shadow */
}

#btn-cr {
   width: 100%;
   margin: auto;
   margin-top: 0px;
   margin-bottom: 20px;
}

#btn-cr:active {
   transform: scale(0.98);
   /* Scaling button to 0.98 to its original size */
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
   /* Lowering the shadow */
}

.register-btn {
   width: 100%;
   color: #fff;
   background: rgb(8, 182, 31);
   background-color: rgb(8, 182, 31);
   border: rgb(195, 216, 255) 1px;
   color: white;
   padding: 10px 32px;
   display: block;
   margin: auto;
   border-radius: 10px;
   text-align: center;
}

.error {
   border: 2px solid red;
}
